@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');


html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
    background: #E9E9E9;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

legend{
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	margin: 0;

}
#titulo{
	font-size: 50px;
	font-weight: bolder;
}
.contenedor{
	margin: 50px auto;
	margin-top: 200px;
	width: 40rem;
	height: 15rem;
	padding: 30px;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
}
#casilla{
	width: 30rem;
	height: 2rem;
	margin-top: 15px;
	background: transparent;
	border: 1px solid #1C455F;
	
}
.contenedor .elemento label{
	color: #fff;
}
.contenedor .elemento input{
	width: 100%;
	padding: 10px 0;
	color:#fff;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
}
p{
	font-size: 14px;
	color: #19232E;
}
.rosa{
	background-color: #FF5353;
	color: #E9E9E9;
	border: none;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px;
	margin-top: 30px;
	box-shadow: 5px 5px 8px rgb(105, 104, 104);
	font-weight: bold;
	
}

.header{
    background-color: #19232E;
    height: 3rem;
	box-shadow: 10px 10px 5px rgb(187, 187, 187);
   
}
.volver{
   
    display: flex;
    float: right;
    padding-right: 60px;
}
img{
	height: 3rem;
   float: left;
   margin-left: 15px;
}
a{
    color: #E9E9E9;
    text-decoration: none;
    background-color: #19232E;
    padding: 14.5px 15px;
    display: block;
  
}
a:hover{

    background-color: #1C455F;

}
