@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');


html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
    background: #E9E9E9;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

legend{
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	margin: 0;

}
#titulo{
	font-size: 30px;
	font-weight: bolder;
    color: #1C455F;
}
.contenedor{
	margin: 50px auto;
	margin-top: 200px;
	width: 45rem;
	min-height: 15rem;
	padding: 30px;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	
}

table{
	
	background-color: #f0f0f0;
	
	border-spacing: 0;
	border-collapse: collapse;
	
}
th{
	background-color: #1C455F;
	color: #E9E9E9;
	font-weight: normal;
	font-size: 15px;
}
td{
	color: #3c4044;
}
th,td{
	border: 1px solid rgb(255, 255, 255);
	border-spacing: 0;

}
#cero{
	width: 4rem;
}
#uno{
	width: 16rem;
	border-spacing: 0;
}
#dos{
	width: 16rem;
	border-spacing: 0;
}
#tres{
	width: 10rem;
	border-spacing: 0;
}
p{
	font-size: 14px;
	color: #19232E;
}
.rosa{
	background-color: #FF5353;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	
	margin: auto;
	margin-top: 30px;
	width: 10rem;
	box-shadow: 5px 5px 8px rgb(105, 104, 104);
	
	
}
.rosa2{
	background-color: #FF5353;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	margin: auto;
	box-shadow: 2px 2px 2px rgb(105, 104, 104);
	
	
}
.rosa2:hover{
    background-color: #19232E;
    color: #E9E9E9;
}


.header{
    background-color: #19232E;
    height: 3rem;
	box-shadow: 10px 10px 5px rgb(187, 187, 187);
   
}
.volver{
   
    display: flex;
    float: right;
    padding-right: 60px;
}
img{
	height: 3rem;
   float: left;
   margin-left: 15px;
}
a{
    color: #E9E9E9;
    text-decoration: none;
    background-color: #19232E;
    padding: 14.5px 15px;
    display: block;
  
}
a:hover{

    background-color: #1C455F;

}
